@import url(transitional.css);

:lang(de) {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:lang(eo) {
  font-family: 'Lucida Sans Unicode', 'Times New Roman', Arial, 'Courier New', monospace;
}

:lang(es) {
  font-family: 'Comic Sans MS', 'Nimbus Sans L', fantasy;
}

#content {
  float: left;
}

#credit {
  clear: right;
}

#nav {
  float: right;
}

@media (max-width: 640px) {
  #credit {
    margin-left: 1.5% !important;
  }
}
