@import url(transitional.css);

:lang(de),
[hreflang|="de"] {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:lang(eo),
[hreflang="eo"] {
  font-family: FreeSerif, 'DejaVu Serif', 'Times New Roman', serif;
  line-height: 1.1em;
}

:lang(es),
[hreflang|="es"] {
  font-family: 'Comic Sans MS', TSCu_Comic, Geneva, fantasy;
}

#content {
  float: left;
}

#credit {
  clear: right;
}

#nav {
  float: right;
}

.meta:lang(eo) {
  height: 1.2em;
}
