@import url(transitional.css);

:lang(de),
[hreflang|="de"] {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:lang(eo),
[hreflang="eo"] {
  font-family: 'Helvetica Neue', Helvetica, 'Times New Roman', FreeSerif, 'DejaVu Serif', serif;
  line-height: 1.1em;
}

:lang(es),
[hreflang|="es"] {
  font-family: 'Comic Sans MS', TSCu_Comic, Geneva, fantasy;
}

body,
html {
  overflow: hidden;
}

#content {
  left: 0;
  overflow: auto;
}

#credit {
  left: 76.5%;
}

#nav {
  right: 0;
}

.meta:lang(eo) {
  height: 1.2em;
}
