div[role="article"] {
  margin: 1em 0.5em 0.5% 0;
}

#content {
  float: right;
}

#credit,
#menu {
  background-color: azure;
  border: medium lightblue dotted;
  overflow-x: hidden;
}

#menu > li > ul > li:first-child h2 {
  margin-top: 0;
}

#menu > li:last-child {
  padding-bottom: 1em;
}

#menu ul li a {
  color: brown;
}

#nav {
  float: left;
}

#nav ul a.user,
#nav ul span.user {
  display: inline-block;
  padding-top: 0.5em;
}

.post-date {
  display: none;
}
