div[role="article"] {
  margin: 1em 0.5em 0.5% 0;
}

#content {
  float: right;
}

#credit {
  float: right;
  margin: 0.5em 1.5%;
}

#credit,
#menu,
.allowed-tags,
.evo_comment {
  background-color: azure;
  border: medium lightblue dotted;
  overflow-x: hidden;
}

#eu_cookie_consent {
  margin-top: 2em;
  position: static !important;
}

#menu > li > ul > li:first-child h2 {
  margin-top: 0;
}

#menu > li:last-child {
  padding-bottom: 1em;
}

#menu ul li a {
  color: brown;
}

#nav {
  float: left;
}

#nav ul a.user,
#nav ul span.user {
  display: inline flow-root;
  padding-top: 0.5em;
}

.bCalendarTable {
  background-color: transparent;
  border: none !important;
}

.bCalendarTable caption {
  font-weight: normal !important;
  margin: 0 0 0 2ex !important;
  text-align: left !important;
}

.bCalendarTable tbody,
.bCalendarTable thead,
.bCalendarTable tfoot [class] {
  display: none !important;
}

.bCalendarTable tfoot td {
  padding: 0 !important;
}

.bCalendarTable tfoot td a:after {
  content: " " attr(title);
}

.bCalendarTable tfoot tr td,
.bCalendarTable tfoot tr td a {
  clear: left;
  float: left;
  font-size: 1em;
  line-height: 0.5em;
}

.help-inline {
  color: inherit;
}

.search * {
  min-width: 50%;
  padding: 0 0.25em;
}
