body,
html {
  height: 100%;
  overflow: hidden;
}

input[type="search"] {
  background-color: orange;
  border: thin #999 solid;
  color: navy;
  height: 14pt;
  padding: 0;
}

input[type="search"]:focus {
  background-color: darkorange !important;
}

input[type="search"]:hover {
  background-color: red;
}

#content {
  float: right;
  height: 100%;
  margin-left: 0.5%;
  overflow: auto;
  padding-right: 0.5%;
}

#credit {
  clear: left;
  height: 10%;
  overflow: auto;
  position: static;
  width: 23.5%;
}

#credit,
#nav,
.bCalendarTable caption a {
  background-color: navy;
  color: gold !important;
}

#credit a {
  color: lime;
}

#credit div {
  padding: 0 0.5em;
  white-space: nowrap;
}

#menu {
  margin: 0;
  padding-top: 0.5em !important;
}

#menu * {
  white-space: nowrap;
}

#menu h2[tabindex],
#menu li {
  color: gold !important;
}

#menu > li > ul > li:first-child h2 {
  margin-top: 0;
}

#menu > li:last-child {
  padding-bottom: 1em;
}

#menu ul {
  padding-left: 0.5em;
}

#menu ul li a {
  color: silver;
}

#nav {
  float: left;
  height: 90%;
  overflow: auto;
  text-transform: lowercase;
}

.bCalendarTable caption {
  border: thin black inset !important;
  margin: 0.2em 0 0.3em 0;
}
