body,
#content,
#skin_wrapper {
  overflow: visible;
}

div[role="article"] {
  border: none;
}

#content {
  margin-left: 0.5%;
  position: static;
  width: 99%;
}

/* Gold on white paper: not a good idea */
#credit,
#nav,
#page-links,
.postmetadata{
  display: none;
}

#eu_cookie_consent,
#evo_toolbar {
  display: none !important;
}

.credit,
.meta a,
h2 {
  color: maroon;
}

/* So we don't get maroon-on-black in browsers that print backgrounds */
.meta a {
  background: silver;
}
