[role="navigation"],
#credit {
  display: none;
}

body,
#content {
  overflow: visible;
}

#content {
  width: 100%;
}

/* Gold on white paper: not a good idea */
.credit,
.meta a,
h2 {
  color: maroon;
}

/* So we don't get maroon-on-black in browsers that print backgrounds */
.meta a {
  background: silver;
}
