[role="navigation"],
#credit,
.postmetadata{
  display: none;
}

body,
#content {
  overflow: visible;
}

div[role="article"] {
  border: none;
}

#content {
  margin-left: 0.5%;
  width: 99%;
}

/* Gold on white paper: not a good idea */
.credit,
.meta a,
h2 {
  color: maroon;
}

/* So we don't get maroon-on-black in browsers that print backgrounds */
.meta a {
  background: silver;
}
