@import url(left-menu.css);

[role="contentinfo"] div {
  padding-left: 16%;
}

input[type="search"] {
  height: 1em;
  width: 70% !important;
}

#content {
  float: left;
}

#nav {
  float: right;
}
