body,
html {
  border: none;
  margin: 0;
  overflow: visible;
  padding: 0;
}

/* Use more display for content in devices with limited screen space
 * to minimize scrolling. */
#content,
#credit,
#nav {
  clear: both;
  height: auto;
  margin: 0.5%;
  overflow-x: hidden;
  width: 98%;
}

#credit {
  position: static;
  text-align: left;
}

.allowed-tags {
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: 100%;
}

.bCalendarTable {
    margin: 1em 2em;
    max-width: 100%;
}

.input,
.label {
  clear: both;
  display: block;
  float: none;
}
