[role="contentinfo"] {
  position: static !important;
  text-align: left !important;
}

body,
html {
  border: none;
  margin: 0;
  overflow: hidden auto;
  padding: 0;
}

/* Use more display for content in devices with limited screen space
 * to minimize scrolling. */
#content,
#menu,
#nav {
  clear: both !important;
  margin: 0.5% !important;
  width: 98% !important;
}

.allowed-tags {
  margin: 0;
  max-width: 100%;
  padding: 0 !important;
  width: 100%;
}

.bCalendarTable {
    margin: 1em 2em;
    max-width: 100%;
}

.input,
.label {
  clear: both;
  display: block;
  float: none;
}
