:not(textarea).evo_comment {
  overflow-x: auto;
  overflow-y: hidden;
}

:target {
  border: thick double black;
  margin-bottom: 0.5em;
  padding: 0.23em;
}

a:hover {
  color: fuchsia;
}

body,
html,
#skin_wrapper {
  height: 100%;
  overflow: auto;
}

body.disp_single article {
  margin-top: 1em;
}

div#evo_toolbar {
  display: none;
}

form.evo_comment {
  margin-bottom: 1em !important;
  padding: 0 1em;
}

form.evo_comment {
  background-color: teal;
  display: block;
}

form.evo_comment a {
  color: #201;
}

form.evo_comment a:hover {
  background-color: azure;
}

form.evo_comment fieldset {
  border: 0;
}

form.evo_comment input[type="email"],
form.evo_comment input[type="password"],
form.evo_comment input[type="text"],
form.evo_comment input[type="url"],
form.evo_comment textarea,
input.search_field {
  background-color: lavender;
  border: thin solid #333;
  color: red;
  max-width: 90%;
  padding: 0.2em;
}

form.evo_comment legend {
  border: thin double gray;
  color: inherit;
  font-weight: 100;
  padding: 0.73em;
}

input.search_field {
  background-color: orange;
  border: thin #999 solid;
  color: navy;
  padding: 0;
  width: 70% !important;
}

input.search_field:focus {
  background-color: darkorange !important;
}

input.search_field:hover {
  background-color: red;
}

#content {
  height: 100%;
  left: 23.5%;
  padding: 0 1%;
  width: 74.5%;
}

#content > :first-child {
  margin-top: 0.5em;
}

#content .evo_comment * {
  text-align: left;
}

#content {
  position: absolute;
}

#content,
#nav {
  top: 0;
}

#credit {
  bottom: 0;
  height: 10%;
  left: 0;
  width: 23.5%;
}

#credit,
#nav {
  overflow: auto;
  position: fixed;
}

#credit,
#menu,
#nav,
.bCalendarTable caption a {
  background-color: navy;
  color: gold !important;
}

#credit a {
  color: lime;
}

#credit div {
  padding: 0 0.5em;
  white-space: nowrap;
}

#menu {
  margin: 0;
  padding-top: 0.5em !important;
}

#menu * {
  white-space: nowrap;
}

#menu h2,
#menu li {
  color: gold !important;
}

#menu > li > ul > li:first-child h2 {
  margin-top: 0;
}

#menu > li:last-child {
  padding-bottom: 1em;
}

#menu ul {
  padding-left: 0.5em;
}

#menu ul li a:not(.button) {
  color: silver !important;
}

#nav {
  height: 90%;
  text-transform: lowercase;
}

#next a,
#prev a {
  color: brown !important;
}

.allowed-tags {
  background-color: gray;
  color: black;
  max-width: 46%;
  padding: 0.5em;
}

.author-comment .evo_comment {
  background-color: navy !important;
  color: silver;
}

.author-comment .evo_comment,
.user-comment .evo_comment {
  background-color: aqua;
  margin: 0.5em;
}

.author-comment .evo_comment a {
  color: orange;
}

.author-comment .evo_comment_footer {
  border-top-color: silver;
}

.bCalendarTable caption {
  border: thin black inset !important;
  margin: 0.2em 0 0.3em 0;
}

.evo_comment a {
  color: red;
}

.evo_comment a:hover {
  background-color: black;
}

.evo_comment + .help-inline {
  float: right;
}

.evo_comment_footer {
  border-top: thin dotted black;
  font-family: monospace;
  padding-top: 0.2em;
}

.help-inline {
  background-color: transparent;
  clear: both;
  color: orange;
  display: block;
  width: auto;
}

.meta a:hover,
.search_info a:hover {
  background-color: aqua;
  color: fuchsia;
}

.search_submit {
  font-size: 0.7em;
  margin-left: 0.2em;
}

.storytitle {
  text-align: center;
}
