* .bComment {
  background-color: aqua;
}

:not(textarea).bComment {
  overflow-x: auto;
  overflow-y: hidden;
}

:target {
  border: thick double black;
  margin-bottom: 0.5em;
  padding: 0.23em;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

body.disp_single [role="article"] {
  margin-top: 1em;
}

form.bComment {
  margin-bottom: 1em !important;
  padding-bottom: 1em;
}

form.bComment {
  background-color: teal;
  display: block;
}

form.bComment fieldset {
  border: 0;
}

form.bComment input[type="email"],
form.bComment input[type="password"],
form.bComment input[type="text"],
form.bComment input[type="url"],
form.bComment textarea,
input[type="search"] {
  background-color: lavender;
  border: thin solid #333;
  color: red;
  max-width: 90%;
  padding: 0.2em;
}

form.bComment legend {
  border: thin double gray;
  color: inherit;
  font-weight: 100;
  padding: 0.73em;
}

input[type="search"] {
  background-color: orange;
  border: thin #999 solid;
  color: navy;
  padding: 0;
  width: 70% !important;
}

input[type="search"]:focus {
  background-color: darkorange !important;
}

input[type="search"]:hover {
  background-color: red;
}

#content {
  float: right;
  height: 100%;
  overflow: auto;
  padding: 0 1%;
  width: 74.5%;
}

#content .bComment * {
  text-align: left;
}

#credit {
  clear: left;
  height: 10%;
  overflow: auto;
  position: static;
  width: 23.5%;
}

#credit,
#menu,
#nav,
.bCalendarTable caption a {
  background-color: navy;
  color: gold !important;
}

#credit a {
  color: lime;
}

#credit div {
  padding: 0 0.5em;
  white-space: nowrap;
}

#facebook {
  margin-top: -0.1em;
}

#menu {
  margin: 0;
  padding-top: 0.5em !important;
}

#menu * {
  white-space: nowrap;
}

#menu h2,
#menu li {
  color: gold !important;
}

#menu > li > ul > li:first-child h2 {
  margin-top: 0;
}

#menu > li:last-child {
  padding-bottom: 1em;
}

#menu ul {
  padding-left: 0.5em;
}

#menu ul li a {
  color: silver;
}

#nav {
  float: left;
  height: 90%;
  overflow: auto;
  text-transform: lowercase;
}

#next a,
#prev a {
  color: brown !important;
}

.allowed-tags {
  background-color: gray;
  color: black;
  max-width: 46%;
  padding: 0.5em;
}

.author-comment .bComment {
  background-color: navy !important;
  color: silver;
}

.author-comment .bComment,
.user-comment .bComment {
  margin: 0.5em;
}

.author-comment .bComment a {
  color: orange;
}

.author-comment .bCommentSmallPrint {
  border-top-color: silver;
}

.bCalendarTable caption {
  border: thin black inset !important;
  margin: 0.2em 0 0.3em 0;
}

.bComment a {
  color: red;
}

.bComment a:hover {
  background-color: black;
}

.bCommentSmallPrint {
  border-top: thin dotted black;
  font-family: monospace;
  padding-top: 0.2em;
}

.note,
.notes {
  background-color: transparent;
  color: orange;
  display: block;
  width: auto;
}

.search_submit {
  margin: 0.5em;
  vertical-align: middle;
  width: 25%;
}

.storytitle {
  text-align: center;
}
