:target,
#prevnext,
.button {
  border-color: WindowText;
}

body {
  margin: 0;
  padding: 0;
}

body #menu,
body #content {
  bottom: 0;
  overflow: auto;
  position: absolute;
  top: 0;
}

html {
  overflow: hidden;
}

input[type="search"] {
  background-color: orange;
  color: navy;
  height: 1em;
}

input[type="search"]:focus {
  background-color: darkorange !important;
}

input[type="search"]:hover {
  background-color: red;
}

summary {
  display: none;
}

#content {
  left: 0;
  padding: 1em 0;
  width: 72% !important;
}

#content > * {
  margin: 0 1%;
}

#menu {
  background-color: navy;
  left: 72%;
  padding-bottom: 1em;
  width: 27.8% !important;
}

#menu > * {
  max-width: 95%;
  white-space: nowrap !important;
}

#menu div.search {
  padding-bottom: 0.5em;
}

#menu h2 {
  font-weight: 600;
}

#menu ul {
  font-variant: normal;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

#menu ul li a {
  background-color: transparent;
  color: silver;
}

#menu form.search {
  margin: 0 0 0 1em;
}

#menu,
#menu div.search,
#menu ul li h2 a {
  color: gold;
  list-style-type: none;
  margin: 0;
  padding-left: 0.2em;
  text-transform: lowercase;
}

#menu li {
  font-size: 1.05em;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.1em;
  margin-top: 1em;
  padding-bottom: 0.1em;
}

#menu ul li {
  font-style: normal;
  letter-spacing: 0;
  margin-top: 0;
  padding: 0;
  padding-left: 1em;
}

#menu .SearchField {
  width: 70%;
}

.bCalendarTable {
  width: 90%;
}

.bCalendarTable caption {
  border: thin black inset !important;
}

.bCalendarTable caption a {
  color: gold !important;
}

.credit {
  font: normal 1em Arial, serif;
  padding: 0.2em 0 0.5em 0 !important;
  text-transform: none;
  white-space: nowrap;
}

.credit a {
  color: lime !important;
}

.post {
  background-color: azure;
  border: medium lightblue dotted;
  margin-bottom: 0.7em !important;
  padding-bottom: 0.2em;
}

/* For browsers that support CSS 3 media queries */
@media (color) {
  #content
  {
    left: 28%;
  }

  #gplus {
    letter-spacing: 1em;
  }

  #menu {
    display: inline-block;
    left: 0;
    padding: 0;
    right: 0;
  }
}

@media screen or (color) {
  #menu {
    background-color: azure;
    color: black;
  }

  #menu li a:not(.button) {
    background-color: transparent;
    color: brown !important;
  }
}

@media (-webkit-min-device-pixel-ratio: 0)
{
  input[type="search"] {
    height: inherit;
  }
}

/* For browsers that support CSS 4 media queries */
/* Allow expanding the tiny menu */
@media (pointer: course) and (hover: hover),
(any-pointer: fine) and (hover) {
  #content {
    left: 4%;
    width: 96% !important;
  }

  #menu {
    left: 0;
    width: 3.5% !important;
  }

  #menu:hover {
    width: 72% !important;
  }
}
