* {
  font-family: 'Helvetica Neue', 'Lucida Grande', 'Lucida Sans Unicode', Malayalam, 'Mukti Narrow', Verdana, sans-serif;
  font-size: 104%;
}

a {
  background-color: transparent;
  color: red;
  text-decoration: none;
}

a img {
  border: none;
}

a:visited {
  color: #517;
}

abbr {
  border-bottom: thin dashed aqua;
  cursor: help;
  font-size: 90%;
  letter-spacing: .07em;
}

blockquote {
  background-color: beige;
  border-left: medium solid #ccc;
  margin-left: 1.5em;
  padding-left: 0.3em;
}

body {
  background-color: silver !important;
  color: #000;
}

cite {
  font-size: 90%;
  font-style: normal;
}

div[role="article"],
.result_content {
  background-color: azure;
  border: medium lightblue dotted;
  margin: 0 0 1em 0;
}

div.feedback_feed_msg {
  margin: 0 auto;
}

footer {
  text-align: center;
}

h1 {
  display: none;
}

h2 {
  border-bottom: thin dotted #ccc;
  color: inherit;
  font: 95% Arial, Helvetica, serif;
  letter-spacing: 0.2em;
  margin: 0.6em 0 0.1em 0;
  padding-bottom: 0.1em;
}

h3 {
  border-bottom: dotted thin;
  font-family: Arial, serif;
  font-weight: 300;
  margin-top: 0;
  text-align: left;
}

h3:not(.storytitle) + div a,
h3 + p a {
  display: inline-block;
  margin: 0.5em 0.1em !important;
}

input[list] {
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}

input[type="file"],
.form-control:not(.search_field),
.info {
  float: right;
  margin-top: 0.5em;
  width: 48%;
}

li, p,
.credit,
.feedback,
.postmetadata {
  font-size: 110%;
  line-height: 160%;
  letter-spacing: -0.05em;
}

table summary {
  display: none;
}

#cc {
    background-color: silver;
    border: thin black solid;
    color: black;
    overflow: hidden;
    padding: 0;
    text-transform: uppercase;
    width: 80px;
}

#cc-lic,
#cc-lic a {
    background-color: white;
    color: black;
    float: left;
    text-align: center;
    width: 30px;
}

#cc-lim,
#cc-lim a {
    background-color: black;
    color: white;
    float: right;
    font-weight: normal;
    width: 50px;
}

#content {
  width: 75.5%;
}


#content abbr {
  border-bottom-color: magenta;
}

#content > h2 {
  border: none;
  font-size: 120%;
}

#content > h2:not(.evo_comment__list_title) {
  padding-bottom: 0.5em;
  text-align: center;
}

#content h3 {
  border-bottom-color: purple;
}

#credit {
  clear: both;
  position: relative;
  left: 28%;
  text-align: left;
  width: 70%;
}

#esf {
  margin-top: 0.2em;
}

#facebook {
  background-color: #3b5998 !important;
  border-color: black;
  border-radius: 0.2em;
  border-style: solid;
  border-width: thin 0;
  color: #ebeef4 !important;
  height: 1em;
  line-height: 0.9em;
  padding: 0.2em 0.2em 0 0.2em;
  width: 0.8em;
}

#firstitem {
  float: left;
}

#gplus {
  background-color: #d1402e !important;
  color: #f9e6e3 !important;
  padding: 0 0.2em 0.2em 0.2em;
  width: 0.8em;
}

#lastitem {
  float: right;
}

#nav {
  width: 23.5%;
}

#nav > * {
  overflow: auto hidden;
  margin-left: 2%;
}

#nav div.search {
  padding-bottom: 0.5em;
}

#nav div.search,
#nav ul li h2 a {
  list-style-type: none;
  margin: 0;
  padding-left: 0.2em;
}

#nav h2 {
  font-weight: 600;
}

#nav form.search {
  margin: 0 0 0 1em;
  padding: 0.25em 0;
}

#nav form.search .search_field {
  font-size: 0.8em;
}

#nav form.search .search_submit {
  vertical-align: middle;
}

#nav li {
  font-size: 1.05em;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.1em;
}

#nav ul {
  color: black;
  list-style-type: none;
  padding: 0;
  text-align: left;
}

#nav ul li {
  font-style: normal;
  letter-spacing: 0;
  margin-top: 0;
  padding: 0 0.2em;
}

#nav ul li a {
  background-color: transparent;
}

#nextitem {
  clear: right;
  float: right;
}

#page-links {
  font-weight: 600;
  padding-bottom: 1em;
  text-align: center;
}

#page-links a:visited {
  color: red;
}

#previtem {
  clear: left;
  float: left;
}

#prevnext {
  background-color: silver;
  border: solid thin black;
  height: 2em;
  line-height: 1em;
  margin: 0 0.1em;
  padding: 0.5em;
}

#twitter {
  background-color: #777 !important;
  border-color: black;
  border-radius: 0.2em;
  border-style: solid;
  border-width: thin 0;
  color: #3bfdde !important;
  height: 1em;
  line-height: 0.9em;
  padding: 0.2em 0.4em 0 0.2em;
  width: 0.6em;
}

#valid {
  background-color: #fb3 !important;
  border-bottom: 0.15em solid #4a4a4a;
  border-left: 0.12em solid #cecece;
  border-right: 0.15em solid #4a4a4a;
  border-top: 0.12em solid #cecece;
  color: black !important;
  font-family: Arial, Helvetica, serif;
  padding: 0.1em 0.5em;
}

.bCalendarEmptyCell {
  border-left-width: 0 !important;
  border-right-width: 0 !important;
  border-top-width: 0 !important;
  cursor: default;
}

.bCalendarEmptyCell:hover {
  background-color: transparent !important;
}

.bCalendarEmptyCell + td:not(.bCalendarEmptyCell)
{
  border-left-width: thin;
  border-left-style: inset;
}

.bCalendarLinkPost a {
  color: maroon !important;
}

.bCalendarTable {
  background-color: #dc9;
  border: thin solid #ddd;
  margin: auto;
  width: 100%;
}

.bCalendarTable a:hover {
  background-color: #e0e6e0;
  color: #333;
}

.bCalendarTable caption {
  border: none !important;
  margin: 0.2em 0 0.3em 0 !important;
}

.bCalendarTable caption * {
  background-color: transparent !important;
}

.bCalendarTable tbody td#bCalendarToday {
  background-color: azure;
}

.bCalendarTable tbody td:not(#bCalendarToday):hover {
  background-color: #eee;
  color: #500;
}

.bCalendarTable td {
  border-color: olive;
  border-style: outset;
  border-width: thin;
  color: #005;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: normal;
  text-align: center;
}

.bCalendarTable tfoot td {
  padding: 0;
}

.bCalendarTable tfoot td a {
  color: maroon !important;
  padding: 0;
}

.bCalendarTable tfoot * {
  font-size: 12pt;
  font-weight: normal;
  letter-spacing: normal;
}

.bCalendarTable tfoot td {
  border: none;
}

.bCalendarTable th {
  border-width: 0 0 thin 0;
  color: black;
  font-family: 'Comic Sans MS', TSCu_Comic, Geneva, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
}

.bCalendarTable th:hover {
  background-color: #EE4;
  color: #C40;
  font-style: normal;
}

.bCalendarTable tr td:last-child {
  border-right: none;
}

.button {
  display: inline-block;
  font-family: sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  overflow: hidden;
  text-transform: lowercase;
}

.button-sf {
  display: none !important;
}

.checkbox {
  width: auto !important;
}

.control-label {
  clear: both;
  float: left;
  margin-top: 0.5em;
  text-align: left;
  width: 48%;
}

.control-label + .help-inline {
  float: right;
}

.help-inline {
  display: block;
  clear: right;
}

.dia {
  background-color: #505050 !important;
  border: none;
  border-radius: 0.4em;
  color: white !important;
  cursor: pointer;
  line-height: 0.6em;
  padding: 0.2em 0 0 0;
  vertical-align: top;
}

.diahide *:not(#diaspora) {
  display: none;
}

.diashow {
  background-color: silver;
  color: black;
  display: block;
  height: 50%;
  left: 25%;
  position: fixed;
  top: 25%;
  width: 50%;
}

.diashow .form-control {
  float: left;
}

.evo_post__full_text,
.storycontent {
  clear: both;
  overflow: auto !important;
  padding-top: 0.2em;
}

.feed {
  background-color: #F63 !important;
  color: white !important;
  padding: 0.1em 0.5em;
}

.fieldset {
  clear: both;
}

.flag {
  position: relative;
  top: 0.1em;
  vertical-align: text-top;
}

.meta,
.search_info {
  background-color: black;
  color: #FDA;
  font-weight: normal;
  height: 1.4em;
  letter-spacing: 0;
  overflow: hidden;
}

.meta a,
.search_info a {
  background-color: black;
  color: goldenrod;
  font-weight: normal;
}

.meta .icon {
  vertical-align: 0.05em !important;
}

.pavatar {
  clear: both;
  float: left;
  padding: 0 1em 1em 0;
}

.postmetadata {
  background-color: transparent;
  color: #ccc;
  margin-right: 1em;
  text-align: right;
}

.sago {
  bottom: 0.2em;
  display: inline-block;
  position: relative;
}

.search_title,
.storytitle {
  border: none;
  color: brown;
  display: block;
  font-size: 110%;
  font-weight: bold;
  letter-spacing: 0;
  margin: 0;
}

.storytitle a {
  color: inherit;
}

.tag-list {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tag-list li {
  display: inline-block;
  font-size: inherit;
  text-transform: capitalize;
}

.tag-list li:not(:last-child):after {
  content: ",";
}

.tag-list-header {
  border-bottom-style: none;
  display: inline;
  font-size: inherit;
  font-weight: inherit;
}

.tag-list-header:after {
  content: ": ";
}

.text-muted {
  font-size: smaller;
}
