/* Hide navigation that's useless on paper */
[role="navigation"] {
  display: none !important;
}

/* Allow printing everything, instead of just the first page */
#content {
  overflow: auto;
  position: static !important;
  width: 100% !important;
}
