*:lang(de) {
  voice-family: horst, romeo, young male, male;
}

*:lang(en) {
  voice-family: paul, young male, male;
}

*:lang(eo) {
  voice-family: ludoviko, old male, karlo, young male, male;
}

*:lang(es) {
  voice-family: julio, young male, female;
}

abbr {
  speak: normal;
  speak-as: normal;
}

abbr.initialism {
  speak-as: spell-out;
  voice-rate: x-slow;
}

abbr:not(.initialism) {
  voice-rate: slow;
}
