#content {
  margin-top: 2.4em;
  width: 100%;
}

#menu {
  left: 0;
  margin: 0 auto;
  max-height: 1.4em;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 98%;
}

#menu:hover {
  max-height: 80%;
  overflow: auto;
}

#menu li,
#menu ul {
  margin-top: -0.4em;
}

#menu h2[tabindex],
#menu li ul > li {
  display: inline-block;
  vertical-align: top;
}

#menu h2[tabindex] + *:not(a):not(cite):not(span),
#menu h2[tabindex] + * *:not(a):not(cite):not(span) {
  display: block;
  max-width: 5em;
  overflow: auto;
}

#menu h2[tabindex]:focus + *, #menu h2[tabindex]:focus + * *,
#menu h2[tabindex] + *:hover, #menu h2[tabindex] + * *:hover
{
  max-width: 100%;
  overflow-y: hidden;
}

.bCalendarTable {
  max-width: 120%;
  position: relative;
  top: 0.8em;
}
