* {
  font-family: 'Liberation Sans', 'Lucida Grande', 'Lucida Unicode Sans', Verdana, sans-serif;
}

*:lang(de) {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

*:lang(eo) {
  font-family: 'Lucida Sans Unicode', 'Times New Roman', Arial, 'Courier New', monospace;
}

*:lang(es) {
  font-family: 'Comic Sans MS', fantasy;
}

:target {
  border: thick double WindowText !important;
  padding: 0.23em;
}

a {
  background-color: transparent;
  color: red;
  text-decoration: none;
}

a img {
  border: none;
}

a:visited {
  color: #517;
}

a:hover {
  color: fuchsia;
}

abbr { 
  border-bottom: thin dashed aqua;
  cursor: help;
  font-size: 90%;
  letter-spacing: .07em;
}

blockquote {
  background-color: beige;
  border-left: medium solid #ccc;
  margin-left: 1.5em;
  padding-left: 0.3em;
}

body {
  background-color: silver !important;
  color: #000;
  margin: 0;
  padding: 0;
}

body #menu,
body #content {
  top: 0;
}

cite {
  font-size: 90%;
  font-style: normal;
}

h1 {
  display: none;
}

h2 {
  border-bottom: thin dotted #ccc;
  color: inherit;
  font: 95% Arial, Helvetica, serif;
  letter-spacing: 0.2em;
  margin: 1.2em 0 0.1em 0;
  padding-bottom: 0.1em;
}

h3 {
  border-bottom: dotted thin;
  font-family: Arial, serif;
  font-weight: 300;
  margin-top: 0;
  text-align: left;
}

h3:not(.storytitle) + div a,
h3 + p a {
  display: inline-block;
  margin: 0.5em 0.1em !important;
}

html {
  overflow: hidden;
}

/*iframe {
  display: none;
}*/

li, p,
.credit,
.feedback,
.postmetadata {
  font-size: 110%;
  line-height: 160%;
  letter-spacing: -0.05em;
}

#content {
  bottom: 0;
  left: 28%;
  overflow: auto;
  padding: 1em 0;
  position: absolute;
  width: 72%;
}

#content > * {
  margin: 0 2%;
}

#content abbr {
  border-bottom-color: magenta;
}

#content > h2 {
  border: none;
  font-size: 120%;
}

#content > h2:not(.cform) {
  padding-bottom: 0.5em;
  text-align: center;
}

#content h3 {
  border-bottom-color: purple;
}

#content .bComment * {
  text-align: left;
}

#menu {
  background-color: navy;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding-bottom: 1em;
  position: absolute;
  width: 28%;
}

#menu > * {
  max-width: 95%;
  white-space: nowrap !important;
}

#menu div.search {
  padding-bottom: 0.5em;
}

#menu h2 {
  font-weight: 600;
}

#menu ul {
  font-variant: normal;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

#menu ul li a {
  background-color: transparent;
  color: silver;
}

#menu form.search {
  margin: 0 0 0 1em;
}

#menu,
#menu div.search,
#menu ul li h2 a {
  color: gold;
  list-style-type: none;
  margin: 0;
  padding-left: 0.2em;
  text-transform: lowercase;
}

#menu li {
  font-size: 1.05em;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.1em;
  margin-top: 1em;
  padding-bottom: 0.1em;
}

#menu ul li {
  font-style: normal;
  letter-spacing: 0;
  margin-top: 0;
  padding: 0;
  padding-left: 1em;
}

#menu .SearchField {
  background-color: orange;
  border: thin solid #999;
  color: navy;
  height: 1em;
  width: 70%;
}

#page-links {
  font-weight: 600;
  padding-bottom: 1em;
  text-align: center;
}

#page-links a:visited {
  color: red;
}

.SearchField:focus {
  background-color: darkorange !important;
}

.SearchField:hover {
  background-color: red;
}

.bCalendarEmptyCell {
  border-left-width: 0 !important;
  border-right-width: 0 !important;
  border-top-width: 0 !important;
  cursor: default;
}

.bCalendarEmptyCell:hover {
  background-color: transparent !important;
}

.bCalendarEmptyCell + td:not(.bCalendarEmptyCell)
{
  border-left-width: thin;
  border-left-style: inset;
}

.bCalendarLinkPost a {
  color: maroon !important;
}

.bCalendarTable {
  background-color: #dc9;
  border: thin solid #ddd;
  margin: auto;
  width: 90%;
}

.bCalendarTable a:hover {
  background-color: #e0e6e0;
  color: #333;
}

.bCalendarTable caption {
  border: thin black inset;
  margin: 0.2em 0 0.3em 0 !important;
}

.bCalendarTable caption * {
  color: gold !important;
}

.bCalendarTable tbody td#bCalendarToday {
  background-color: azure;
}

.bCalendarTable tbody td:not(#bCalendarToday):hover {
  background-color: #eee;
  color: #500;
}

.bCalendarTable td {
  border-color: olive;
  border-style: outset;
  border-width: thin;
  color: #005;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: normal;
  text-align: center;
}

.bCalendarTable tfoot td {
  padding: 0;
}

.bCalendarTable tfoot td a {
  color: maroon !important;
  padding: 0;
}

.bCalendarTable tfoot * {
  font-size: 12pt;
  font-weight: normal;
  letter-spacing: normal;
}

.bCalendarTable tfoot td {
  border: none;
}

.bCalendarTable th {
  border-width: 0 0 thin 0;
  color: black;
  font-family: "Comic Sans MS", "Nimbus Sans L", fantasy;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
}

.bCalendarTable th:hover {
  background-color: #EE4;
  color: #C40;
  font-style: normal;
}

.bCalendarTable tr td:last-child {
  border-right: none;
}

.bText,
.storycontent/*,
.sub*/ {
  clear: both;
  overflow: auto !important;
  padding-top: 0.2em;
}

.credit {
  font: normal 1em Arial, serif;
  padding: 0.2em 0 0.5em 0 !important;
  text-transform: none;
  white-space: normal;
}

.credit a {
  color: lime !important;
}

.flag {
  position: relative;
  top: 0.1em;
  vertical-align: text-top;
}

.meta {
  background-color: black;
  color: #FDA;
  font-weight: normal;
  height: 1.4em;
  letter-spacing: 0;
  overflow: hidden;
  padding-bottom: 0.2em;
}

.meta a {
  background-color: black;
  color: goldenrod;
}

.meta a:hover {
  background-color: aqua;
  color: fuchsia;
}

.meta .icon {
  vertical-align: 0.05em !important;
}

.post {
  background-color: azure;
  border: medium lightblue dotted;
  margin-bottom: 0.7em !important;
  padding-bottom: 0.2em;
}

.postmetadata {
  background-color: transparent;
  color: #ccc;
  margin-right: 1em;
  text-align: right;
}

.search_submit {
  margin: 0.5em;
  width: 25%;
}

.storytitle {
  color: brown;
  display: block;
  font-size: 110%;
  font-weight: bold;
  letter-spacing: 0;
  margin: 0;
}

.storytitle a {
  color: inherit;
}

/* Miaj aldonoj */

:not(textarea).bComment {
  overflow-x: auto;
  overflow-y: hidden;
}

* .bComment {
  background-color: aqua;
}

form.bComment {
  margin-bottom: 1em !important;
  padding-bottom: 1em;
}

form.bComment {
  background-color: teal;
  display: block;
}

form.bComment a {
  color: darkorange;
}

form.bComment fieldset {
  border: 0;
}

form.bComment input[type="email"], form.bComment input[type="password"],
form.bComment input[type="text"], form.bComment input[type="url"],
form.bComment textarea {
  background-color: lavender;
  border: thin solid #333;
  color: red;
  max-width: 90%;
  padding: 0.2em;
}

/*form.bComment input:invalid {
  background-color: red;
  color: silver;
}*/

form.bComment legend {
  border: thin double gray;
  color: inherit;
  font-weight: 100;
  padding: 0.73em;
}

#diaspora {
  background-color: #505050 !important;
  border: none;
  border-radius: 0.4em;
  color: white !important;
  cursor: pointer;
  line-height: 0.6em;
  padding: 0.2em 0 0 0;
  vertical-align: top;
}

#esf {
  margin: 0.3em 0 0.1em 0;
}

#facebook {
  background-color: #3b5998 !important;
  border-color: WindowText;
  border-radius: 0.2em;
  border-style: solid;
  border-width: thin 0;
  color: #ebeef4 !important;
  height: 1em;
  line-height: 0.9em;
  padding: 0.2em 0.2em 0 0.2em;
  width: 0.8em;
}

#firstitem {
  float: left;
}

#gplus {
  background-color: #d1402e !important;
  color: #f9e6e3 !important;
  padding: 0 0.2em 0.2em 0.2em;
  width: 0.8em;
}

#lastitem {
  float: right;
}

#nextitem {
  clear: right;
  float: right;
}

#previtem {
  clear: left;
  float: left;
}

#prevnext {
  background-color: silver;
  border: solid thin WindowText;
  height: 2em;
  line-height: 1em;
  margin: 0 0.1em;
  padding: 0.5em;
}

#twitter {
  background-color: #777 !important;
  border-color: WindowText;
  border-radius: 0.2em;
  border-style: solid;
  border-width: thin 0;
  color: #3bfdde !important;
  height: 1em;
  line-height: 0.9em;
  padding: 0.2em 0.4em 0 0.2em;
  width: 0.6em;
}

#valid {
  background-color: #fb3 !important;
  border-bottom: 0.15em solid #4a4a4a;
  border-left: 0.12em solid #cecece;
  border-right: 0.15em solid #4a4a4a;
  border-top: 0.12em solid #cecece;
  color: black !important;
  font-family: Arial, Helvetica, serif;
  margin-top: 0.1em;
  padding: 0.1em 0.5em;
}

.allowed-tags {
  background-color: gray;
  color: black;
  max-width: 46%;
  padding: 0.5em;
}

.allowed-tags a {
  background-color: #111;
  color: inherit;
}

.author-comment .bComment {
  background-color: navy !important;
  color: silver;
}

.author-comment .bComment,
.user-comment .bComment {
  margin: 0.5em;
}

.author-comment .bComment a {
  color: orange;
}

.author-comment .bCommentSmallPrint {
  border-top-color: silver;
}

.bComment a {
  color: red;
}

.bComment a:hover {
  background-color: black;
}

.bCommentSmallPrint {
  border-top: thin dotted black;
  font-family: monospace;
  padding-top: 0.2em;
}

.button {
  display: inline-block !important;
  font-family: sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  overflow: hidden;
}

.button-sf {
  display: none !important;
}

.feed {
  background-color: #F63 !important;
  color: white !important;
  padding: 0.1em 0.5em;
}

.input {
  float: right;
  width: 48%;
}

.label {
  float: left;
  text-align: left;
  width: 48%;
}

.note,
.notes {
  background-color: transparent;
  color: orange;
  display: block;
  width: auto;
}

.notes {
  margin-top: -1em;
}

.pavatar {
  clear: both;
  float: left;
  padding: 0 1em 1em 0;
}

.sago {
  bottom: 0.2em;
  display: inline-block;
  position: relative;
}

.tag-list {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tag-list li {
  display: inline-block;
  font-size: inherit;
  text-transform: capitalize;
}

.tag-list li:not(:last-child):after {
  content: ",";
}

.tag-list-header {
  border-bottom-style: none;
  display: inline;
  font-size: inherit;
  font-weight: inherit;
}

.tag-list-header:after {
  content: ": ";
}

/* For browsers that support CSS 3 media queries */
@media (color), (monochrome) {
  #content {
  left: 0;
  width: 72%;
  }

  #gplus {
  letter-spacing: 1em;
  }

  #menu {
  display: inline-block;
  left: 72%;
  padding: 0;
  right: 0;
  width: 28%;
  }
}

/* For browsers that support CSS 4 media queries */
/*@media (color) or (monochrome) {
  #diaspora {
  appearance: none;
  }

  #menu {
  background-color: inherit;
  }

  #menu,
  #menu div.search,
  #menu ul li h2 a {
  color: navy;
  list-style-type: none;
  margin: 0;
  padding-left: 0.2em;
  text-transform: lowercase;
  }

  #menu *:not(h2):not(th):not(.button) {
  font-size: 0.8em;
  font-weight: normal !important;
  }

  #menu ul li a {
  color: red;
  }

  #menu .credit a {
  color: red !important;
  }

  .bCalendarTable caption * {
  color: maroon !important;
  }
}*/
