body {
  margin: 0;
  padding: 0;
}

body #menu,
body #content {
  bottom: 0;
  overflow: auto;
  position: absolute;
  top: 0;
}

html {
  overflow: hidden;
}

#content {
  left: 28%;
  padding: 1em 0;
  width: 72%;
}

#content > * {
  margin: 0 1%;
}

#content abbr {
  border-bottom-color: magenta;
}

#content > h2 {
  border: none;
  font-size: 120%;
}

#content > h2:not(.cform) {
  padding-bottom: 0.5em;
  text-align: center;
}

#content h3 {
  border-bottom-color: purple;
}

#content .bComment * {
  text-align: left;
}

#gplus {
  width: 0.8em;
}

#menu {
  background-color: navy;
  left: 0;
  padding-bottom: 1em;
  width: 28%;
}

#menu > * {
  max-width: 95%;
  white-space: nowrap !important;
}

#menu div.search {
  padding-bottom: 0.5em;
}

#menu h2 {
  font-weight: 600;
}

#menu ul {
  font-variant: normal;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

#menu ul li a {
  background-color: transparent;
  color: silver;
}

#menu form.search {
  margin: 0 0 0 1em;
}

#menu,
#menu div.search,
#menu ul li h2 a {
  color: gold;
  list-style-type: none;
  margin: 0;
  padding-left: 0.2em;
  text-transform: lowercase;
}

#menu li {
  font-size: 1.05em;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.1em;
  margin-top: 1em;
  padding-bottom: 0.1em;
}

#menu ul li {
  font-style: normal;
  letter-spacing: 0;
  margin-top: 0;
  padding: 0;
  padding-left: 1em;
}

#menu .SearchField {
  width: 70%;
}

.bCalendarTable caption {
  border: thin black inset !important;
}

.bCalendarTable caption a {
  color: gold !important;
}

.credit a {
  color: lime !important;
}

.post {
  background-color: azure;
  border: medium lightblue dotted;
  margin-bottom: 0.7em !important;
  padding-bottom: 0.2em;
}

/* For browsers that support CSS 3 media queries */
@media (color), (monochrome) {
  #content
  {
    left: 0;
  }

  #gplus {
    letter-spacing: 1em;
  }

  #menu {
    display: inline-block;
    left: 72%;
    padding: 0;
    right: 0;
  }
}
